@font-face{

font-family: "helsinkiFont";

src: url("..fonts/helsinki_regular_macroman/helsinki-webfont.eot");

src: url("..fonts/helsinki_regular_macroman/helsinki-webfont.eot?iefix") format("eot"),

url("..fonts/helsinki_regular_macroman/helsinki-webfont.woff") format("woff"),

url("..fonts/helsinki_regular_macroman/helsinki-webfont.ttf") format("truetype"),

url("..fonts/helsinki_regular_macroman/helsinki-webfont.svg") format("svg");

font-weight: normal;

font-style: normal;

}

* {
  margin:0px;
  padding:0px;
}

.image {
	position: relative;
	width: 100%; /* для IE 6 */
	}

h2 {
	position: absolute;
	top: 466px;
	left: 0;
	width: 100%;
	}

h2 span {
	color: #fff;
	font-size: 30px;
	line-height: 55px;
	background: rgba(0, 0, 0, 0.7);
	background: #000;
	padding: 10px 10px 10px 16px;
	}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

#alienvodka {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
